<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
  <div fxLayout="row wrap" class="players-container" fxLayoutAlign="start center">
    <mat-checkbox
      *ngFor="let player of players"
      fxFlex="20"
      fxFlexOffset.xs="15%"
      fxFlex.xs="35"
      (change)="onCheckedChange($event, player)"
      [checked]="player.isSelected">
      {{ player.name }}
    </mat-checkbox>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput [(ngModel)]="newPlayerName" placeholder="Add player" />
      </mat-form-field>
      <button mat-icon-button (click)="addPlayer()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div fxFlex="100" fxLayoutAlign="center center">
      <bps-go-back></bps-go-back>
      <button mat-button (click)="sortPlayers()">Play!</button>
    </div>
  </div>
</section>
