<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
  <div fxLayout="row wrap" class="players-container">
    <mat-checkbox
      *ngFor="let player of players"
      fxFlex="20"
      (change)="onCheckedChange($event, player)">
      {{ player.name }}
    </mat-checkbox>
  </div>
  <div fxLayout="column"  fxFlex="20">
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="newPlayerName" placeholder="Add player" />
      </mat-form-field>
      <button mat-icon-button (click)="addPlayer()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div>
      <bps-go-back></bps-go-back>
      <button mat-button (click)="sortPlayers()">Play!</button>
    </div>
  </div>
</section>
