<section
  fxLayout="column"
  fxLayoutAlign="space-between"
  fxLayoutWrap
  fxLayoutGap="10px"
>
  <ng-container *ngFor="let player of players">
    <div>
      <mat-checkbox fxFlex="25%" (change)="onCheckedChange($event, player)">{{
        player.name
      }}</mat-checkbox>
    </div>
  </ng-container>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="newPlayerName" placeholder="Add player" />
    </mat-form-field>
    <button mat-icon-button (click)="addPlayer()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button (click)="sortPlayers()">Play!</button>
  </div>
</section>
